PORT=5001
MONGO_URI=mongodb+srv://vaishalichauhan2801_db_user:ksG6Mpdj22OKY7GZ@cluster0.in0zads.mongodb.net/safedrivenx
JWT_SECRET=safedrivex-super-secret-jwt-key-2026-change-in-production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dt139adsu
CLOUDINARY_API_KEY=491326298385474
CLOUDINARY_API_SECRET=w9HXpOML6-9wJ3ddd6ggdndjFtY